

### Misc. ###
INFO.fmw.md
.cache/

### Python ###
__pycache__/
.env
*.pyc
venv-pyre/

### Wheels ###
build/
dist/
py_re.egg-info/

### Intellij ###
*.iml
.idea/

### Vim ###
.swp

### testing ###
**/tmp/*

